In [1]:
import pandas as pd

In [5]:
fits_final=pd.read_csv('fits_fig5b.csv')
fits_final['fa_mean']=fits_final[['fa1', 'fa2', 'fa3', 'fa4']].mean(axis=1)
fits_final

#579= Bs SEN5:1 - DNA
#579_A1 = Bs SEN5:1 + SEQ1 (8nM)
#579_F1 = Bs SEN5:1 + SEQ5 (8nM)
#579_AF1 = Bs SEN5:1 + SEQ1 (8nM) + SEQ5 (8nM)
#579_A2 = Bs SEN5:1 + SEQ1 (800pM)
#579_F2 = Bs SEN5:1 + SEQ5 (800pM)
#579_AF2 = Bs SEN5:1 + SEQ1 (800pM) + SEQ5 (800pM)

,sample,r1_mu1,r1_s1,r1_A1,r1_mu2,r1_s2,r1_A2,fneg1,A1+A2,Aneg,...,r4_A1,r4_mu2,r4_s2,r4_A2,fneg4,A1+A2.3,Aneg.3,Atot.3,fa4,fa_mean
0,579,5.323131,0.524374,17391.99980,8.244949,0.215776,0.940462,0.129113,17392.94026,2578.588324,...,17355.98401,7.611140,0.802872,1.798248,0.118105,17357.78226,2324.594017,19682.37627,0.000091,0.000093
1,579_A1,NaN,NaN,NaN,NaN,NaN,NaN,0.122788,NaN,NaN,...,17706.97798,9.538116,0.344461,24.286879,0.103060,17731.26486,2037.352654,19768.61752,0.001230,0.000538
2,579_F1,NaN,NaN,NaN,NaN,NaN,NaN,0.164640,NaN,NaN,...,17248.33263,8.239154,0.596613,4.986764,0.126138,17253.31939,2490.435211,19743.75460,0.000253,0.000187
3,579_AF1,NaN,NaN,NaN,NaN,NaN,NaN,0.170643,NaN,NaN,...,17126.29281,7.496148,0.500780,604.736978,0.111175,17731.02979,2217.818516,19948.84830,0.030300,0.027133
4,579_A2,5.332730,0.513043,17639.07905,8.264936,0.379465,2.910044,0.114866,17641.98909,2289.454802,...,17512.11430,8.006567,0.351206,4.266920,0.111303,17516.38123,2193.810596,19710.19182,0.000216,0.000208
5,579_F2,5.262857,0.518656,17412.89264,8.219493,0.392502,3.255327,0.125852,17416.14797,2507.430574,...,17350.87887,9.946245,0.301443,5.902957,0.119940,17356.78182,2365.499561,19722.28138,0.000299,0.000233
6,579_AF2,5.288698,0.524055,11854.61090,7.338556,0.516504,315.999762,0.127611,12170.61066,1780.285813,...,17314.20991,7.704557,0.452111,297.325589,0.111827,17611.53550,2217.414355,19828.94986,0.015000,0.012785